.main-container {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 920px;
}

.title {
  font-size: 42px;
  font-weight: 600;
}

.activity {
  padding: 2rem 2rem 3rem 2rem;
  margin: 1rem 0;
  width: 90%;
  max-width: 90%;
  box-sizing: border-box;
  min-height: 1px;
  background: #fff;
  border-radius: 2px;
  margin: 1rem;
  position: relative;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.activity-title {
  font-size: 21px;
  font-weight: 700;
}

.activity-description {
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 2rem;
}
